@import url(//fonts.googleapis.com/css?family=Spartan);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%
}
body{
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: left top, right bottom;
}
.container{
    margin: 5% 5%;
}

.upper_container{
   display: flex;
   align-items: center;
}

.left_upper_container{
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.left_upper_container h1{
    color:hsl(300, 43%, 22%);
    font-family: 'Spartan',sans-serif;
    font-weight: 700;
    font-size: 3em;
    line-height: 1;
}
.left_upper_container span{
    display: block;
}

.left_upper_container p{
    width:45%;
    margin-top: 20px;
    line-height: 1.2;
    color:hsl(303, 10%, 53%)
}
.right_upper_container{
    display: flex;
    flex-direction: column;
    margin-right: 10%
}



.right_upper_container .stats{
    display: flex;
    flex-direction: row;
    background-color: hsl(300, 24%, 96%);
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    height:auto;
    min-height: 40px;
    width:100%;
    
    border-radius: 5px;
    padding-left: 25px;
}
.stats .stars{
    display: flex;
 }

.stats img{
    width:20px;
    height:20px;
    padding: 0 3px;
}

.stats h4{
    color:hsl(300, 43%, 22%);
    padding: 0 35px;
}

.right_upper_container .two{
    /* margin-left: 10%; */
    transform: translateX(10%);
}

.right_upper_container .three{
    /* margin-left: 20%; */
    transform: translateX(20%);
}
.lower_container{
    margin-top: 7%;
}
.lower_container .cards{
    display: flex;
    flex-direction: row;
}


.card{
  width:auto;
  background-color: hsl(300, 43%, 22%);
  color: hsl(300, 24%, 96%);
  margin: 1%;
  padding: 3% 2%;
  border-radius: 5px;
}

.card .card_data{
    display: flex;
    flex-direction: row;
}

.card.two{
    transform: translateY(5%);
}

.card.three{
    transform: translateY(10%);
}
.card_image img{
    width:32px;
    height:32px;
    border-radius:50%;
    position: relative;
}

.card_details{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.card_details .user_status{
    color:hsl(333, 80%, 67%);
}

.user_name,.user_status{
    color: hsl(0, 0%, 100%);
}
.card_description{
    margin-top: 5%;
}

@media only screen and (max-width:700px){

    body {
        background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
        background-repeat: no-repeat;
        background-position: 0px 0px, 36px 1300px;
    }

    .upper_container{
        display: flex;
        flex-direction: column;
    }

    .left_upper_container{
        text-align: center;
        margin-top: 15%;
    }
    
    .left_upper_container h1{
        color:hsl(300, 43%, 22%);
        font-size: 2em;
        line-height: 1;
    }

    .left_upper_container p{
        width:100%;
        padding:10px;
        line-height: 1.2;
        color:hsl(303, 10%, 53%)
    }

    .right_upper_container{
        display: flex;
        flex-direction: column;
        margin:0
    }

    .right_upper_container .stats{
        display: flex;
        flex-direction: column;
        padding:0;
    }
    .stats .stars{
       display: flex;
       flex-direction: row;
       margin-top: 10px;
    }

    .stats h4{
        margin: 10px;
    }

    .right_upper_container .two{
        /* margin-left: 10%; */
        transform: translateX(0);
    }
    
    .right_upper_container .three{
        /* margin-left: 20%; */
        transform: translateX(0);
    }

    .lower_container .cards{
        display: flex;
        flex-direction: column;
    }
    
    .card{
        padding: 10% 8%;
    }

    .card.two{
        transform: translateY(0);
    }
    
    .card.three{
        transform: translateY(0);
    }
}

